@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: bold; */
  font-style: normal;
}

*::-webkit-scrollbar {
  display: none;
}

.app-container {
  width: 100vw;
  height: 100vh;
}

.background {
  background: url("../images/Waves2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.background-reverse {
  background: url("../images/Waves1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.tech1-angle-position {
  bottom: 50%;
  right: 50%;
}

.tech2-angle-position {
  top: 50%;
  left: 50%;
}

.tech-circle-photo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-down-position {
  width: 80px;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-card {
  position: relative;
  height: 100%;
  width: 30%;
  border-radius: 50px;
}

.card-border {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 800px;
}

.slideUpDown-animation {
  animation: slideUpDown 2s infinite linear;
}

.rotate-animation {
  animation: rotation 50s infinite linear;
}

.fadeIn-animation {
  animation: 3s fadeIn;
}

@keyframes slideUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
